<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home" >Prueba Técnica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/employees">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/upload">Cargar archivo</a>
          </li>
        </ul>
        <form class="flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <form>
          <button class="btn btn-danger"
                  (click)="logout()">Logout</button>
        </form>
      </div>
</nav>
