<app-navbar></app-navbar>
<div class="row-container">
  <div class="col-md-4 mt-3 container">
    <h3>Seleccione archivos</h3>
    <div appNgDropFiles
         [files]="files"
         (mouseIn)="inTheDrop = $event" [ngClass]="{'file-over': inTheDrop }" class="well drop-zone">
      <h4>Arraste aquí sus archivos</h4>
      <img  src="/assets/drag-and-drop-images.png" alt="img-loaded">
    </div>
  </div>
  <div class="cold-md-8 mt-3 container">
    <h4 class="text-center">Cargar imágenes</h4>
    <div class="text-center">
      <button (click)="loadImages()" [disabled]="files.length === 0" class="btn btn-success btn-space">subir imagen</button>
      <button (click)="clearFiles()" class="btn btn-danger btn-space">Limpiar</button>
      <table class="table">
        <thead class="thead bg-primary">
          <tr>
            <th>Nombre archivo</th>
            <th>Tamaño</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td [ngClass]="{ 'text-green' : file.progress >= 100}">
              {{ file.fileName }}
            </td>
            <td>{{ file.file.size /1024/1024 | number: '.2-2' }} MB</td>
            <td>
              <div class="progress">
                <div class="progress-bar"
                     role="progressbar"
                     [ngStyle]="{'width': file.progress + '%'}">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
